[data-theme="black"] {
	--gradient-start: #f8ff34;
    --gradient-end: #ff1b73;
    --border-colour: rgb(180, 2, 183);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
    /* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    display: flex;
    background-color: #000;
    color: #fff;
    margin: 0;
    min-height: 100%;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-colour);
}

.header-searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 2vh;
    border-left: 2px solid var(--border-colour);
    min-height: 100%;
}

.page-name, .header-searchbar > input, .header-searchbar > button, h3, .card-text, .card-title, .sidebar > ul > li > a, .footer > a{
    background: -webkit-linear-gradient(var(--gradient-start), var(--gradient-end));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#search-input, #search-button {
    outline: none;
}

#search-input:focus, #search-button:active {
    outline: none;
    border: 2px solid;
    border-image: -webkit-linear-gradient(var(--gradient-start), var(--gradient-end));
    border-image-slice: 1;
}

.outer-wrapper {
    display: flex;
    width: 100vw;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10%;
    border-right: 2px solid var(--border-colour);
    min-height: 100vh;
    flex-grow: 1;
}

.sidebar > ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style-type: none;
}


.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 2vh;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.sidebar a, .footer > a {
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.sidebar a:hover, .footer > a:hover {
    text-decoration: var(--border-colour) underline;
    transition: 0.5s ease-in-out;
}

.my-card-table > tbody > tr {
    display: flex;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border: solid 2px #ff1b73;
    max-width: 250px;
}

.my-card-link {
    margin: 20%;
    text-decoration: none;
}

.card-img-top {
    transition: 0.5s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: inherit;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* border-bottom: solid 2px #ff1b73; */
}

.card:hover .card-img-top {
    transition: 0.5s ease-in-out;
    -webkit-filter: grayscale(0);
    filter: none;
}

.footer {
    display: flex;
    padding: 5px;
    border-top: 2px solid rgb(180, 2, 183);
    min-height: 5%;
    width: 100%;
    justify-content: center;
}

.footer > a {
    margin: 0;
    padding: 0;
}