/* [dark-mode="on"] {

} */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
    /* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    display: flex;
    background-color: #000;
    color: #fff;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(180, 2, 183);
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 2vh;
}

.header-links > a {
    background: -webkit-linear-gradient(#f8ff34, #ff1b73);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-name {
    background: -webkit-linear-gradient(#f8ff34, #ff1b73);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.outer-wrapper {
    display: flex;
    height: 100%;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 10%;
    height: 100%;
    border-right: 2px solid rgb(180, 2, 183);
}

.sidebar > ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style-type: none;
}


.sidebar > ul > li > a {
    background: -webkit-linear-gradient(#ff1b73, #f8ff34);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
}

.content {
    display: flex;
    color: #fff;
    background-color: #6a1c76;
    padding: 0 2vh;
    justify-content: center;
    margin-bottom: auto;
    min-width: 100%;
}

.footer {
    display: flex;
    padding: 5px;
    border-top: 2px solid rgb(180, 2, 183);
    min-height: 10%;
    width: 100%;
}